body {
    margin: 0;
    font-family: sans;
}

.form {
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 1em;
    background: #eee;
}

input[type="text"], textarea {
    width: 100%;
    margin: 1em;
    padding: 0.5em;
    display: block;
    box-sizing: border-box;
}

button {
    padding: 0.5em 0.7em;
    margin: 0.5em 1em 0.5em 0;
}
